body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
}
a {
  color: inherit;
  text-decoration: none;
}

#header:after {
  content: "";
  display:block;
  width:100%;
  height:1px;
  background-color: #111;
  position:absolute;
  top:100px;
  pointer-events: none;
}

#header .container {
  /* 전체 넓이를 1920이상 쓰지 않겠다. */
  max-width: 1920px;  
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  bor der: 1px solid #f00;
  position: relative;
}

#logo {
  bor der: 1px solid #f00;
  position: absolute;
  left: 0;
}
.online {
  position: absolute;
  right: 0;
}
#gnb {
  bor der: 1px solid #f00;
}

#gnb .list {
  display: flex;
}
#gnb .list .depth01 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase; /*uppercase / lowercase / capitalize*/
  display: flex;
  align-items: center;  
  height: 100px;    
  padding-left: 50px;   
  padding-right: 50px;
  padding: 0 50px;
  bor der: 1px solid #f00;
}
#gnb .list > li {
  position: relative;
}
#gnb .list > li:hover .depth01 {
  
}
#gnb .list > li:hover .depth02 {
  transform: translate(-50%, 0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
}

#gnb .list .depth02 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding:20px 10px;
  background-color: #bf0c14;
  color:#fff;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
  pointer-events: none;
  opacity: 0;
  left:50%;
  transform: translate(-50%,50px);
  transition: all 0.25s ease-in-out;
  position: absolute;
  width:100%;
}
#gnb .list .depth02:after {
  content: '';
  display: block;
  position: absolute;
  left:0;
  right:0;
  top:-30px;
  bottom: 0;
  z-index: -1;
  
}
#gnb .list .depth02:before {
  position: absolute;
  left:50%;
  top:-10px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bf0c14 transparent;
 
}
#gnb .list .depth02 li a {
  display: block;
  padding:10px 0;
  border-radius: 5px;
  
  
}
#gnb .list .depth02 li a:hover {
  background-color: #7f060c;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}